@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-size: 13px;
    display: flex;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    background-color: hsl(210, 46%, 95%);
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    max-width: 800px;
    width: 90%;
    gap: 30px;
    height: auto;
}

h1 {
    font-size: 22px;
    color: hsl(217, 19%, 35%);
}

p {
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}


.image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px 0 0 15px;
}


.image {
    flex: 1;
}

.information {
    flex: 1;
    padding: 0 20px 0 0;
}

.share-section {
 display: flex;
    justify-content: space-between;
    align-items: center;
     position: relative;
    
}

.author {
   display: flex;
   gap: 5px;
   align-items: center;
    flex-direction: row;
        gap: 10px;

}

.profile-picture {
    width: 15%;
    height: auto;
    border-radius: 100%;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.name {
    color:hsl(217, 19%, 35%);
    font-weight: 700;
}

time {
    color: hsl(214, 17%, 51%);
}

.share-menu {
    background-color: hsl(217, 19%, 35%);
    display: flex;
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
    align-items: center;
     z-index: 10;
     position: absolute;
     bottom: 100%; 
    left: 65%;  
}

.share-menu::after {
    content: "";
    position: absolute;
    top: 100%;           
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}


#SHARE {
    letter-spacing: 5px;
    font-size: 12px;
    color: hsl(210, 46%, 95%);
}

.share-icon {
    cursor: pointer;
    width: 20px;
    height: auto;
}

.hidden {
    cursor: default;
    display: none;
}

.share-button {
    align-items: center;
    border: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 20px;
}

.share-button:hover img {
    filter: brightness(0) invert(1);
}

.share-button:hover {
    background-color: hsl(217, 19%, 35%);
    cursor: pointer;
}

.share-button.active {
    background-color: hsl(217, 19%, 35%);
}

.share-button.active img {
    filter: brightness(0) invert(1); 
}


.attribution { font-size: 11px; text-align: center; position: absolute; display: block; bottom: 0px;}
.attribution a { color: hsl(228, 45%, 44%); }



@media (max-width: 900px) {
  main {
    flex-direction: column;
    padding: 0;
    align-items: center;
  }
  .image, .information {
    width: 100%;
    padding: 0px;
  }
  .information {
    text-align: start;
    width: 100%;
     box-sizing: border-box;
  }
  h1 {
    font-size: 18px;
    padding: 0 20px;
  }
  p{
    padding: 0 20px;
    line-height: 23px;
  }
  .image img {
    border-radius: 15px 15px 0 0;
        font-size: 14px;
}
.share-menu {
    position: absolute;

    top: auto;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    padding: 0 30px;
    border-radius: 0 0 15px 15px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.share-menu::after {
    display: none;
    
}
.share-button {
  position: relative;
  z-index: 20; 
 }
 #SHARE {
        font-size: 15px;

 }
}

