@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-size: 13px;
    display: flex;
    font-family: Manrope, Arial, Helvetica, sans-serif;
    background-color: hsl(210, 46%, 95%);
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0 auto;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    max-width: 50%;
    height: auto;
}

h1 {
    font-size: 25px;
    color: hsl(217, 19%, 35%);
}

img {
    display: block;
    border-radius: 15px 0 0 15px;
}

.image {
    height: auto;
    max-width: 100%;
}

.information {
    max-width: 25%;
}




















.attribution { font-size: 11px; text-align: center; position: absolute; display: block; bottom: 0px;}
.attribution a { color: hsl(228, 45%, 44%); }